<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/png" href="{{asset "favicon.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <link href="{{asset "assets/syntaxhighlighter/styles/shCore.css"}}" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="{{asset "assets/syntaxhighlighter/styles/shCoreDefault.css"}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset "assets/syntaxhighlighter/styles/shThemeDefault.css"}}"/>

    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shCore.js"}}"></script>

    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushJScript.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushPhp.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushSql.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushSass.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushCss.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushBash.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushPython.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushRuby.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushJava.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushGroovy.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/syntaxhighlighter/scripts/shBrushScala.js"}}"></script>

    <script type="text/javascript">SyntaxHighlighter.all();</script>

    {{! SumoMe Integration }}
    <script src="//load.sumome.com/" data-sumo-site-id="639ba3286c03cb72c207ad3aa61c468978aa3bc4857244d09058a889f2d5a0cd" async></script>

</head>
<body>
<a href="https://plus.google.com/+MazharAhmedPro?rel=author" style="display:none;" id="g-author">author</a>
    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! The footer on the homepage}}
    <footer class="site-footer" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Suscribete!</span></a>
        <div class="inner inner-footer">

             <section class="copyright">
	      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
		<img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
	      </a>
	      <br />
	      <a target="_blank" href="{{@blog.url}}/">{{@blog.title}}</a> está distribuido bajo una </section>
	      <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.
             <section class="poweredby"><a href="https://github.com/kurai021/Whisper-Machinarium021" target="_blank">Whisper Machinarium021</a> theme for <a target="_blank" href="https://www.facebook.com/richard.armuelles">Richard Armuelles</a> under Apache License.</section>
        </div>
        <a href="#" class="back-to-top"><img src="{{asset "images/arrow.png"}}" /></a>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{!  JQuery CDN }}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{! Infinite scroll for posts list}}
    <script type="text/javascript" src="{{asset "assets/jscroll/jquery.jscroll.js"}}"></script>
    <script type="text/javascript" src="{{asset "assets/jscroll/scroll-post.js"}}"></script>

    {{! Back to top button}}
    <script type="text/javascript" src="{{asset "assets/back-to-top/back-to-top.js"}}"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-58169260-1');ga('send','pageview');
    </script>
</body>
</html>
