{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}
    
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="site-head-content inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <hr>
            <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
		<a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
		<span class="menu-separator">|</span>
		<a class="back-button icon-arrow-left" href="{{@blog.url}}/about">About</a>
	    </nav>
	    <hr>
        </div>
    </div>
</header>

<section class="error">
    <h1>Oops! ERROR: {{code}}</h1>
    <img src="{{asset "images/404.jpg"}}" width="50%" />
    <p>{{message}}</p>
</section>