{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}
    
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="site-head-content inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
            <!-- for special purpose I've omited the default blog desc -->
            <!--<h2 class="blog-description">I'm Director of Engineering at <a href="http://www.stsbd.com">ST Solutions LLC</a></h2> -->
            <ul class="social">
		<li><a href="https://www.facebook.com/richard.armuelles" target="_blank"><img src="{{asset "images/facebook.png"}}" width="48" /></a></li>
                <li><a href="https://twitter.com/raaztux" target="_blank"><img src="{{asset "images/twitter.png"}}" width="48" /></a></li>
                <li><a href="https://plus.google.com/u/0/117702515713402194890" target="_blank"><img src="{{asset "images/google.png"}}" width="48" /></a></li>
                <li><a href="https://www.linkedin.com/profile/view?id=142321855" target="_blank"><img src="{{asset "images/linkedin.png"}}" width="48" /></a></li>
                <li><a href="https://github.com/kurai021" target="_blank"><img src="{{asset "images/github.png"}}" width="48" /></a></li>
            </ul>
            <hr>
            <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
		<a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
		<span class="menu-separator">|</span>
		<a class="back-button icon-arrow-left" href="{{@blog.url}}/about">About</a>
	    </nav>
	    <hr>
        </div>
    </div>
</header>

<section class="error">
    <h1>Oops! ERROR: {{code}}</h1>
    <img src="{{asset "images/404.jpg"}}" width="50%" />
    <p>{{message}}</p>
</section>