{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="duckduckgo">
    <form class="duckduckgo-search" action="https://duckduckgo.com" target="_blank" method="get">
      <input type="hidden" name="sites" value="http://machinarium021.com">
      <input type="text" name="q" value="" placeholder="Buscar...">
    </form>
  </div>
    <div class="vertical">
        <div class="site-head-content inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
            <!-- for special purpose I've omited the default blog desc -->
            <!--<h2 class="blog-description">I'm Director of Engineering at <a href="http://www.stsbd.com">ST Solutions LLC</a></h2> -->
            <ul class="social">
		            <li><a href="https://www.facebook.com/richard.armuelles" target="_blank"><img src="{{asset "images/facebook.png"}}" width="48" /></a></li>
                <li><a href="https://github.com/kurai021" target="_blank"><img src="{{asset "images/github.png"}}" width="48" /></a></li>
                <li><a href="https://www.linkedin.com/in/richard-alexander-armuelles-zeballos-2277b63b/" target="_blank"><img src="{{asset "images/linkedin.png"}}" width="48" /></a></li>
                <li><a href="https://twitter.com/raaztux" target="_blank"><img src="{{asset "images/twitter.png"}}" width="48" /></a></li>
                <li><a href="https://www.reddit.com/user/machinarium021/" target="_blank"><img src="{{asset "images/reddit.png"}}" width="48" /></a></li>
            </ul>
            <hr>
            <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
		<a class="back-button icon-arrow-left" href="{{@blog.url}}">Inicio</a>
		<span class="menu-separator">|</span>
		<a class="back-button icon-arrow-left" href="{{@blog.url}}/about">Sobre</a>
	    </nav>
	    <hr>
        </div>
    </div>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{tags prefix="on " separator=" | "}}</span>

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">
                <section class="author-img">
                    <img src="{{@blog.logo}}" alt="Blog Logo" width="100" />
                </section>
                <section class="author">
                    <h4>{{author.name}}</h4>
                    <p>{{author.bio}}</p>
                    <ul class="author-meta clearfix">
                        {{#if author.location}}<li>{{author.location}}</li>{{/if}}
                        {{#if author.website}}<li><a href="{{author.website}}">{{author.website}}</a></li>{{/if}}
                    </ul>
                </section>

                <section class="share">
                    <h4>Share this post</h4>
                    <a target="_blank" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}">
                       <img src="{{asset "images/minitwitter.png"}}">
                    </a>
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}">
                        <img src="{{asset "images/minifacebook.png"}}">
                    </a>
                    <a target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">
                        <img src="{{asset "images/minigplus.png"}}">
                    </a>
                </section>

            </footer>

            <section class="post-comments">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                  var disqus_shortname = 'blog-machinarium021'; // required: replace example with your forum shortname
                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>


        {{/post}}

    </article>

</main>
